* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.7;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#gallery {
  display: flex;
  align-items: center;
  padding-left: 0;
}

#gallery > li {
  list-style: none;
  margin-left: 0;
  width: calc((100% - 20px) / 3);
}

#gallery > li:not(:last-child) {
  margin-right: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
